body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Rubik', sans-serif;
  background-color: #E7E8D1;
}

a {
  text-decoration: none;
  color: #001f3f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
